<!doctype html>
<html lang=en>
	<head>
		<meta charset=utf-8>
    <title>{{ site.name }} {{ page.title }}</title>
		<link rel=stylesheet href=/reset.css type=text/css>
		<link rel=stylesheet href=/styles.css type=text/css>
		<link rel=stylesheet href=/pygments.css type=text/css>
    <link href=/feed.xml rel=alternate type=application/rss+xml>
	<body>
    <header>
      <a href=/>
        <img src=/images/logo.svg alt=logo class=logo>
      </a>
      <h1>{{ site.name }}</h1>
      <p class=description>{{ site.description }}</p>
    </header>
    <nav>
      <ul>
        <li><a href=/>index</a></li>
        <li><a href=https://licensezero.com>licensezero.com</a></li>
        <li><a href=/feed.xml>RSS</a></li>
        <li><a href=https://github.com/licensezero>GitHub</a></li>
      </ul>
    </nav>
