{% include top.html %}
<article class='body post'>
  <p class=dateline>{{page.date | date: "%B %-d, %Y"}}</p>
  {% if page.author %}
  <p class=byline>{{page.author}}</p>
  {% endif %}
  <h1 id=title>
    {{ page.title }}
    <small>{{ page.description }}</small>
  </h1>
  {{ content }}
</article>
<footer class=feedback>
  <p>
    Your thoughts and corrections to this post are <em>very welcome</em>.
  </p>
  {% if page.forum %}
  <p>
    Join discussion of this post
    <a href="https://forum.artlessdevices.com/t/{{page.forum}}">on the Artless Devices forum</a>.
  </p>
  {% endif %}
  <p>
    Please feel free to reach out
    by <a href=mailto:kyle@artlessdevices.com>e-mail</a>.
  </p>
</footer>
<footer>
  <a href=/>index</a>
  &mdash;
  <a href="{{ site.repository_url }}/commits/master/{{ page.path }}">revision history</a>
  &mdash;
  <a href=#title>back to top</a>
</footer>
{% include bottom.html %}
