{% include top.html %}
<article class='body post'>
  <h1 id=title>
    {{ page.title }}
    <small>{{ page.description}}</small>
  </h1>
  {{ content }}
</article>
<footer class=feedback>
  <p>
    Your thoughts and corrections to this post are <em>very welcome</em>.
  </p>
  <p>
    Please fell free to reach out
    privately, by <a href=mailto:kyle@artlessdevices.com>e-mail</a>, or
    publicly, via <a href=https://twitter.com/licensezero>Twitter</a>.
  </p>
</footer>
<footer>
  <a href=/>index</a>
  &mdash;
  <a href="{{ site.repository_url }}/commits/master/{{ page.path }}">revision history</a>
  &mdash;
  <a href=#title>back to top</a>
</footer>
{% include bottom.html %}
